body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.search-box {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.search-box {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #2F2F2F;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-results {
    margin-top: 50px;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-results {
    margin-top: -120px;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}